html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1em;
  box-sizing: border-box;
  background: radial-gradient(
    circle at top,
    rgba(164, 219, 244, 0.5),
    rgba(140, 151, 254, 0.72)
  );
}
